[data]
    isWork = {{ promptBoolOnce . "isWork" "Work machine" }}
    email = "{{ promptStringOnce . "email" "Email" "thebriankwon@gmail.com" }}"

{{ if not .isWork -}}
[git]
    autoCommit = true
    autoPush = true
{{ end -}}

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
